.env
constants.js
.vscode
.DS_Store
**/.DS_Store
node_modules/


# Supabase
**/supabase/.branches
**/supabase/.temp


# 3Up*YU9R8i#SKid


#stripe api key: - sk_test_51T1g9bC1gwA7MyMOvwttiCovL5YRipwypp7K1tVpobqbms71Wp1woqHCFlRNXhuOpUjee3hWCSOaa1msakpiQcN900ssKj2F7J
# webhook secret :- whsec_ujwWBTECZslopyxGCiuJmOiihRhP5i83